@import "layout";
@import "ui";
// @import "parallax";

body {
	// background: black;
}

.material-icons {
	font-family: 'Material Icons';
	font-weight: normal;
	font-style: normal;
	font-size: 24px;  /* Preferred icon size */
	display: inline-block;
	line-height: 1;
	text-transform: none;
	letter-spacing: normal;
	word-wrap: normal;
	white-space: nowrap;
	direction: ltr;

	/* Support for all WebKit browsers. */
	-webkit-font-smoothing: antialiased;
	/* Support for Safari and Chrome. */
	text-rendering: optimizeLegibility;

	/* Support for Firefox. */
	-moz-osx-font-smoothing: grayscale;

	/* Support for IE. */
	font-feature-settings: 'liga';
}

.material-icons.small {
	margin-right: 5px;
	font-size: 15px;
}

#splash {
	background: url('../res/splash.jpg');
	background-size: cover;
	display: flex;
	justify-content: center;
	align-items: center;
	z-index: 1;
}

header#flat {
	position: fixed;
	bottom: 0;
	left: 0;
	height: @header;
	background: @black;
	color: @white-dark;
	line-height: @header;
	display: flex;
	justify-content: space-between;
	transition: all 200ms ease;
	box-shadow: 0px 5px 5px 5px #181818b3;
	padding-left: @header;
	z-index: 50;

	font-family: "Roboto", sans-serif !important;

	
	

	.left {
		display: flex;
		.tab {
			.full-height;
			width: 80px;
			text-align: center;
			cursor: pointer;
			opacity: 0.8;
	
			transition: all 200ms ease;
		}
		.tab:hover {
			opacity: 1;
		}

		#close {
			position: fixed;
			bottom: 0;
			left: 0;
			height: @header;
			width: @header;
			background: @black;
		}
	}

	.right {
		#contact {
			.full-width;
			.full-height;
			display: flex;
			justify-content: center;
			align-items: center;
			padding-left: 10px;
			padding-right: 10px;
	

			button.small {
				margin-right: 30px;
				height: 29px;
				font-size: 12px;
				padding: 0px;
				border: none;
				background: @green;
				color: @white;
				letter-spacing: 0.0em;
				min-width: 130px;
				border-radius: 29px;
				verticle-align: middle;
				cursor: pointer;
				transition: all 200ms ease;
			}
			button.small:hover {
				box-shadow: 0 1px 10px 4px #4ce27466;
				transform: scale(1.00);
				text-indent: none;
			}
			button.small:active {
				outline: none;
				background: darken(@green, 10%);
				transform: scale(0.95);
			}
		}
	}	
}

section#intro {
	margin: 0 auto;
	margin-top: 70px;
	text-align: center;
	// height: 590px;
}

section#portfolio {
	margin-top: 130px;
	margin-bottom: 110px;
	height: auto;
	width: 100% !important;
	overflow-x: auto;
	padding-top: 28px;
	padding-bottom: 28px;
	padding-left: 17px;
	padding-right: 17px;
	background: url("../../dist/res/portfolio.jpg");
	background: @white;
	background-size: cover;
	display: flex;
	justify-content: space-around;
	align-items: center;
	flex-wrap: nowrap;
	



	.poster {
		margin-left: 12px;
		margin-right: 12px;
		height: 650px;
		width: 300px;
		flex-shrink: 0;
		background: white;
		color: @white-dark;
		text-align: left;
		box-shadow: 0 1px 10px 4px rgba(0, 0, 0, 0.2);
		padding: 15px;

		transition: all 300ms ease;

		.poster-image {
			margin: 0 auto;
			width: 100%;
			height: 70%;
			box-shadow: 0 1px 10px 4px rgba(0, 0, 0, 0.2);
		}

		

		#n1 {
			  background-image: url("../../dist/res/small business.jpg");
		}
		#n2 {
		  background-image: url("../../dist/res/big business.png");
		}
		#n3 {
		  background-image: url("../../dist/res/startup.jpg");
		}
		#n4 {
			background-image: url("../../dist/res/cubeworld.png");
		}
		#n5 {
			background-image: url("../../dist/res/dc.png");

		}

	}

	#f1 {
		background: #C0392B;
	}
	#f2 {
		background: #2C3E50;
	}
	#f3 {
		background: #27ae60;
	}
	#f4 {
		background: @orange;
	}
	#f5 {
		background: #662621;

	}

	


}

section#contact {
	padding-top: 30px;
	padding-bottom: 100px;
	min-height: 700px;
	background: @white;
	background-size: cover;
}

section#content {
	padding-top: 30px;
	text-align: center;
}

section#team {
	padding-bottom: 100px;
}

.card-container {
	width: 100%;
	text-align: center;
	flex-wrap: wrap;

		.card {
			margin: 60px;
			min-height: 200px;
			min-width: 280px;
			// display: inline-block;
			color: #a4a1a1;
			text-align: center;
			box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
			transition: all 300ms ease;
		}

		.card:hover {
			transform: perspective(500px) translateZ(30px);
			cursor: pointer;
		}

		

		

		div.big {
			width: 100%;
			min-height: 375px;
			border-radius: 2px;
			border-bottom-left-radius: 0;
			border-bottom-right-radius: 0;
			transition: all 200ms ease;
		}

			.card-image {
				width: 100%;
				background-size: cover;
				background-origin: center;
			}

			.team-link {
				margin-bottom: 30px;
				transition: all 300ms ease;
				cursor: pointer;
			}

			.team-link:hover {
				transform: scale(1.08);
			}
			#n1 {
			  background-image: url("../../dist/res/daniel.jpg");
			}
			#n2 {
			  background-image: url("../../dist/res/peter.jpg");
			}
			#n3 {
			  background-image: url("../../dist/res/matthew.jpg");
			}
			#n4 {
			  background-image: url("../../dist/res/ryan.jpg");
			}
			#n5 {
			  background-image: url("../../dist/res/small business.jpg");
			}
			#n6 {
			  background-image: url("../../dist/res/big business.png");
			}
			#n7 {
			  background-image: url("../../dist/res/startup.jpg");
			}
			#n8 {
				background-image: url("../../dist/res/cubeworld.png");
			}
			#n9 {
				background-image: url("../../dist/res/dc.png");
				background-position: center;
				background-size: cover;
			}
			#n10 {
				background-image: url("../../dist/res/rad.png");
			}

			input, textarea {
				margin-top: 30px;
				margin-bottom: 30px;
				margin-left: 2%;
				margin-right: 2%;
				padding: 15px;
				padidng-left: 10px;
				width: 40%;
				min-height: 55px;
				font-size: 20px;
				border: none;
				border-radius: 2px;
				box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
			}

			input, textarea:active {
				outline: none;
			}

			textarea.big {
				margin-bottom: 60px;
				padding: 15px;
				width: 84%;
				min-height: 400px;
				font-size: 20px;
			}
}
div.card h2 {
  font-size: 30px;
  font-weight: 100;
} 

div.card p {
  font-size: 20px;
  margin-top: 15px;
  margin-bottom: 15px;
}

p.green {
	color: @green;
}

div.card-image {
  width: 100%;
  height: 55%;
  min-height: 300px;
  border-top-right-radius: 2px;
  border-top-left-radius: 2px;
}

div.card.row {
	text-align: center;
}

button.outline {
  min-width: 210px;
  margin: 0 auto;
  padding-top: 17px;
  padding-bottom: 17px;
  font-size: 20px;
  border: none;
  border-radius: 29px;
  // box-shadow: 3px 3px 3px 2px rgba(0, 0, 0, 0.4);
  verticle-align: middle;
  cursor: pointer;
  transition: all 200ms ease;
}

button:focus {
	outline: none;
}

// button.green {
// 	background: @green
// }

button.outline {
	background:rgba(255, 255, 255, 0);
	border: 1px solid @white;
}

// button.green:hover {
// 	background: #FFF;
// }

button.outline {
	color: #FFF;
	background: rgba(255, 255, 255, 0);
	border: 2px solid #FFF;
}

button.outline:hover {
  // box-shadow: 3px 3px 3px 2px rgba(0, 0, 0, 0.4);
  border-radius: 10px;
}

button.green {
				margin-top: 80px;
				height: 40px;
				font-size: 18px;
				padding: 0px;
				border: none;
				background: @green;
				color: @white;
				letter-spacing: 0.0em;
				min-width: 160px;
				border-radius: 29px;
				verticle-align: middle;
				cursor: pointer;
				transition: all 200ms ease;
			}
			button.green:hover {
				box-shadow: 0 1px 10px 4px #4ce27466;
				transform: scale(1.00);
				text-indent: none;
			}
			button.green:active {
				outline: none;
				background: darken(@green, 10%);
				transform: scale(0.95);
			}

section.portfolio.button-light {
  background: #FFF;
  color: #000;
}

form {
	width: 50%;
	padding-top: 100px;
	padding-right: 10px;
	padding-right: 10px;
	box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}


section#contact-form {
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	display: flex;
	justify-content: center;
	align-items: center;
	visibility: hidden;
	opacity: 0;
	transition: 400ms all ease;
	z-index: 101;

	form {
		width: 25%;
		height: auto;
		z-index: 100;
		padding: 15px;
		border-radius: 1px;

		background: @white;
		box-shadow: 0 6px 20px 0 rgba(0, 0, 0, 0.19);


		button {
			margin: 0px;
		}

		#info {
			.full-width;
			text-align: center;
			margin-bottom: 20px;
		}

		.row {
			display: flex;
			flex-wrap: wrap;
			margin-bottom: 20px;

			.normal {
				padding-left: 10px;
				margin: 5px;
				font-family: 'Rubik';
				font-size: 14px;
				flex: 1;
				height: 40px;
				border: none;
				border: 1px solid #EEE;
				border-radius: 2px;
				margin-left: 10px;
				margin-right: 10px;
				transition: all 200ms ease;
			}

			.normal:focus {
				border: 1px solid @white;
				border-radius: 2px;
				box-shadow: 0 1px 8px 3px #4ce27466;

			}

			.normal.big {
				min-height: 150px;
				padding-top: 10px;
				font-size: 14px;
			}
		}

		button {
			margin-bottom: 15px;
			height: 35px;
			font-size: 12px;
			padding: 0px;
			border: none;
			background: @green;
			color: @white;
			letter-spacing: 0.0em;
			min-width: 130px;
			border-radius: 29px;
			cursor: pointer;
			transition: all 200ms ease;
		}
		button:hover {
			box-shadow: 0 1px 10px 4px #4ce27466;
			text-indent: none;
		}
		button:focus, button:active {
			outline: none;
			background: darken(@green, 10%);
			transform: scale(0.95);
		}
	}
}

div#blackout {
	position: fixed;
	left: 0;
	top: 0;
	.full-width;
	.full-height;
	z-index: 99;
	background: rgba(0,0,0,1);
	opacity: 0;
	visibility: hidden;
	transition: 200ms all ease;
}