@import "layout";
@import "ui";
// @import "parallax";

body {
	// background: black;
}

.material-icons {
	font-family: 'Material Icons';
	font-weight: normal;
	font-style: normal;
	font-size: 24px;  /* Preferred icon size */
	display: inline-block;
	line-height: 1;
	text-transform: none;
	letter-spacing: normal;
	word-wrap: normal;
	white-space: nowrap;
	direction: ltr;

	/* Support for all WebKit browsers. */
	-webkit-font-smoothing: antialiased;
	/* Support for Safari and Chrome. */
	text-rendering: optimizeLegibility;

	/* Support for Firefox. */
	-moz-osx-font-smoothing: grayscale;

	/* Support for IE. */
	font-feature-settings: 'liga';
}

#splash {
	background: url('../res/lights.jpg');
	// background: @white;
	background-size: cover;

	.scroll {
		width: 100%;
		
		position: absolute;
		bottom: 0;

		i {
			color: rgba(256,256,256,.8);
			text-shadow: 1px 1px 1px #000;
			font-size: 400px;
			margin: 0 auto;
		}
	}
}


.inner {
	width: 100%;
	height: 100%;
}

#black {
	background: @black;
}


// mix-blend-mode: normal;
// mix-blend-mode: multiply;
// mix-blend-mode: screen;
// mix-blend-mode: overlay;
// mix-blend-mode: darken;
// mix-blend-mode: lighten;
// mix-blend-mode: color-dodge;
// mix-blend-mode: color-burn;
// mix-blend-mode: hard-light;
// mix-blend-mode: soft-light;
// mix-blend-mode: difference;
// mix-blend-mode: exclusion;
// mix-blend-mode: hue;
// mix-blend-mode: saturation;
// mix-blend-mode: color;
// mix-blend-mode: luminosity;



header {
	position: fixed;
	top: 0;
	right: 0;
	z-index: 10;
	width: @margin;
	padding-top: @margin;
	padding-bottom: @margin;
	display: flex;
	flex-direction: column-revers;
	justify-content: center;
	align-items: center;
	background: transparent;
	.item-shell {
		width: 100%;
		height: 100%;
		display: flex;
		flex-direction: column;
		justify-content: space-around;

		.item {
			width: 100%;
			height: 20%;
			display: flex;
			justify-content: space-around;
			align-items: center;
			white-space: nowrap;
			clear: both;

			text-align: center;
			cursor: pointer;
			transition: ease all 200ms;

			.button {
				color: @white;
				mix-blend-mode: burn;
				text-shadow: 0 0 2px rgba(0, 0, 0, 0.8);
			}
			.popout {
				display: none;
				visibility: hidden;
				height: 100%;
				width: 100%;
				.image {
					width: 100%;
					height: 100%;
				}
				#n1 {
					background: url("../../dist/res/city.jpg");
					background-size: cover;


				}
				#n2 {
					background: url("../res/peak.jpg");
				}
				#n3 {
					background: white;
				}
				#n4 {
					background: url("../res/surf.jpg");
				}
				.text {
					width: 100%;
					height: 100%;
					position: relative;
					top: -100%;
					text-transform: uppercase;
					opacity: .7;
					font-weight: 600;
					font-size: 30px;
					mix-blend-mode: luminosity;
 					color: white;

					display: flex;
					justify-content: center;
					align-items: center;
				}
				.text.flex {
					
					div {
						width: 40px;
						height: 40px;
						margin: 20px !important;
						opacity: 0.6;
						transition: ease 200ms all;
					}
					div:hover {
						transform: scale(.9);
					}
				}
			}
		}
	}
}

header .item:hover {
	width: 400px + @margin;
	color: #000;
	background: @white;
	transform: translateX(-400px);
	text-align: left;
	justify-content: left;
	box-shadow: 0 .5rem 1rem rgba(50,50,50,.35);
	.button {
		width: @margin;
		height: 100%;
		text-align: center;
		display: flex;
		justify-content: center;
		align-items: center;
		color: black;
		text-shadow: none;
		transition: ease 200ms color,
					ease 200ms background;
	}
	.button:hover {
		background: @black;
		color: @white;
		box-shadow: 0px 0px 4px 1px rgba(1,1,1,.5);
	}
	
	.popout {
		display: block;
		visibility: visible;
		width: 100%;
	}
}

section {
	margin: 0 auto;
	width: 100%;
}

section#intro {
	margin: 0 auto;
	margin-bottom: 40px;
	text-align: center;
	// height: 590px;
}

section#portfolio {
	height: 350px;
	padding-top: 144px;
	background-image: url("../../dist/res/portfolio.jpg");
	background-size: cover;
	text-align: center;
}

section#contact {
	padding-top: 30px;
	padding-bottom: 100px;
	min-height: 700px;
	background-image: url("../../dist/res/water.jpg");
	background-size: cover;
}

section#content {
	padding-top: 30px;
	text-align: center;
}

section#team {
	padding-bottom: 100px;
}

.card-container {
	width: 100%;
	text-align: center;
	flex-wrap: wrap;

		.card {
			margin: 60px;
			min-height: 200px;
			min-width: 280px;
			// display: inline-block;
			color: #a4a1a1;
			text-align: center;
			border-radius: 9px;
			box-shadow: 0px 0px 5px 3px rgba(0, 0, 0, 0.2);
			cursor: pointer;
			transition: all 200ms ease;
		}

		//Add back in later
		// .card:hover {
		// 	background: @black;
		// 	color: #FFF;
		// }

		div.big {
			min-height: 440px;
			min-width:	470px;
			border-radius: 9px;
			border-bottom-left-radius: 0;
			border-bottom-right-radius: 0;
			transition: all 200ms ease;
		}

			.card-image {
				background-size: cover;
				background-origin: center;
			}

			.team-link {
				transition: all 300ms ease;
			}

			.team-link:hover {
				transform: scale(1.08);
			}
			#n1 {
			  background-image: url("../../dist/res/daniel.jpg");
			}
			#n2 {
			  background-image: url("../../dist/res/peter.jpg");
			}
			#n3 {
			  background-image: url("../../dist/res/matthew.jpg");
			}
			#n4 {
			  background-image: url("../../dist/res/ryan.jpg");
			}
			#n5 {
			  background-image: url("../../dist/res/small business.jpg");
			}
			#n6 {
			  background-image: url("../../dist/res/big business.png");
			}
			#n7 {
			  background-image: url("../../dist/res/startup.jpg");
			}

			input, textarea {
				margin-top: 30px;
				margin-bottom: 30px;
				margin-left: 2%;
				margin-right: 2%;
				padding: 15px;
				width: 30%;
				min-height: 55px;
				font-size: 20px;
				border: none;
				border-radius: 6px;
				box-shadow: 0px 0px 5px 3px rgba(0, 0, 0, 0.2);
			}

			textarea.big {
				margin-bottom: 60px;
				padding: 15px;
				width: 64%;
				min-height: 400px;
				font-size: 20px;
			}

			::-webkit-input-placeholder { /* Chrome/Opera/Safari */
  				color: #9c9eb0;
				font-size: 20px;
  				font-family: 'Roboto';
			}
			::-moz-placeholder { /* Firefox 19+ */
			 	color: #9c9eb0;
				font-size: 20px;
  				font-family: 'Roboto';
			}
}



div.card h2 {
  font-size: 30px;
  font-weight: 100;
} 

div.card p {
  font-size: 20px;
  margin-top: 15px;
  margin-bottom: 15px;
}

p.green {
	color: @green;
}

div.card-image {
  width: 100%;
  height: 55%;
  min-height: 300px;
  border-top-right-radius: 5px;
  border-top-left-radius: 5px;
}

div.card.row {
	text-align: center;
}

div.splash {
	padding-top: 25%;
	height: 100%;
}

div.row {
	width: 100%:
	display: flex;
}

button {
  min-width: 210px;
  margin: 0 auto;
  padding-top: 17px;
  padding-bottom: 17px;
  font-size: 20px;
  border-radius: 29px;
  box-shadow: 3px 3px 3px 1px rgba(0, 0, 0, 0.4);
  border: none;
  verticle-align: middle;
  cursor: pointer;
  transition: all 200ms ease;
}
button:focus {
	outline: none;
}

button.light {
	// background: 
}

button.green {
	background: @green
}

button.green:hover {
	background: #FFF;
}

button:hover {
  box-shadow: 4px 4px 4px 2px rgba(0, 0, 0, 0.4);
  background: #d5d6dd
}

section.portfolio.button-light {
  background: #FFF;
  color: #000;
}

//buttons