@import "layout";
@import "ui";
// @import "parallax";

body {
	font-family: "Muli", sans-serif;
}

#splash {
	background: url('../res/splash.jpg');
	background-size: cover;
	display: flex;
	justify-content: center;
	align-items: center;
	z-index: 1;
}

header#flat {
	position: fixed;
	bottom: 0;
	left: 0;
	height: @header;
	background: @black;
	color: @white-dark;
	line-height: @header;
	display: flex;
	justify-content: space-between;
	transition: all 200ms ease;
	box-shadow: 0px 5px 5px 5px #181818b3;
	padding-left: @header;
	z-index: 0;

	.left {
		display: flex;
		.tab {
			.full-height;
			width: 80px;
			text-align: center;
			cursor: pointer;
			opacity: 0.8;
	
			transition: all 200ms ease;
		}
		.tab:hover {
			opacity: 1;
		}

		#close {
			position: fixed;
			bottom: 0;
			left: 0;
			height: @header;
			width: @header;
			background: @black;
		}
	}

	.right {
		#contact {
			.full-width;
			.full-height;
			display: flex;
			justify-content: center;
			align-items: center;
			padding-left: 10px;
			padding-right: 10px;
	

			
		}
	}	
}

// Intro Section

section#intro {
	margin: 0 auto;
	margin-top: 45px;
	text-align: center;
	// height: 590px;
}

// Team Section
section#team {

	.center {
		width: 100%;
		height: 600px;
		margin: 0 auto;
		margin-top: 60px;
		display: flex;
		flex-wrap: wrap;
	}

	.card {
		margin: 30px;
		margin-top: 65px;
		height: auto;
		width: 15%;
		background: @white;
		color: #a4a1a1;
		text-align: center;
		box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
		transition: all 300ms ease;
	}

	.card:hover {
		transform: none;
		cursor: pointer;
	}

	.card-image {
		width: 100%;
		background-size: cover;
		background-origin: center;
	}

	.team-link {
		margin-bottom: 30px;
		transition: all 300ms ease;
		cursor: pointer;
		color: @green;
	}

	#n1 {
	  background-image: url("../../dist/res/daniel.jpg");
	}
	#n2 {
	  background-image: url("../../dist/res/peter.jpg");
	}
	#n3 {
	  background-image: url("../../dist/res/matthew.jpg");
	}
	#n4 {
	  background-image: url("../../dist/res/ryan.jpg");
	}

}

section#portfolio {
	margin-top: 35px;
	margin-bottom: 110px;
	height: auto;
	width: 100% !important;
	overflow-x: auto;
	padding-top: 28px;
	padding-bottom: 28px;
	padding-left: 17px;
	padding-right: 17px;
	background: url("../../dist/res/portfolio.jpg");
	background: @white;
	background-size: cover;
	display: flex;
	justify-content: space-around;
	align-items: center;
	flex-wrap: nowrap;

	.poster {
		margin-left: 12px;
		margin-right: 12px;
		height: 575px;
		width: 300px;
		flex-shrink: 0;
		background: white;
		color: @white-dark;
		text-align: left;
		box-shadow: 0 1px 10px 4px rgba(0, 0, 0, 0.2);
		padding: 15px;

		transition: all 300ms ease;

		.poster-image {
			margin: 0 auto;
			width: 100%;
			height: 70%;
			box-shadow: 0 1px 10px 4px rgba(0, 0, 0, 0.2);
		}

		#n1 {
			  background-image: url("../../dist/res/cubeworld.png");
		  background-size: cover;
		}
		#n2 {
		  background-image: url("../../dist/res/skeleton-plus.jpg");
		  background-size: cover;
		}
		#n3 {
		  background-image: url("../../dist/res/crystal-learning.jpg");
		  background-size: cover;
		}
		#n4 {
			background-image: url("../../dist/res/unit circle.png");
		  background-size: cover;
		}
		#n5 {
			background-image: url("../../dist/res/dc.png");
		  background-size: cover;
		}

	}

	#f1 {
		background: #C0392B;
	}
	#f2 {
		background: #2C3E50;
	}
	#f3 {
		background: #27ae60;
	}
	#f4 {
		background: @orange;
	}
	#f5 {
		background: #662621;

	}
}

section#content {
	padding-top: 30px;
	text-align: center;
}

section#profile {
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	display: flex;
	justify-content: center;
	align-items: center;
	transition: 400ms all ease;

	visibility: hidden;
	opacity: 0;

	div#transferDiv {
		margin-bottom: 10%;
		z-index: 400;
		width: 35%;
		max-height: 80%;

		div.profile-popup {
			margin: 0 auto;
			padding: 10px;
			background: @white;
			width: 100%;
			height: 100%;
			box-shadow: @default-shadow;
			z-index: 400;
		}

		div.social {
			text-align: center;
			margin-bottom: 30px;
		}

		.icon {
			width: 35px;
			height: 35px;
			margin-right: 10px;
			margin-left: 10px;
			cursor: pointer;
			transition: all 200ms ease;
		}

		.icon:hover {
			transform: scale(.9);
		}

		.close {
			margin: 10px;
			float: right;
			font-size: 40px;
			cursor: pointer;
			transition: 200ms all ease;
		}

		.close:hover {
			transform: scale(.9);
		}

		p {
			text-align: center;
			font-size: 20px;
			margin-top: 0px;
			margin-bottom: 20px;
		}

		p.subtitle {
			margin-top: 25px;
			margin-bottom: 10px;
			text-align: center;
			font-size: 18px;
			color: #a4a1a1;
		}

		#n1 {
		  background-image: url("../../dist/res/daniel.jpg");
		  background-size: cover;
		}
		#n2 {
		  background-image: url("../../dist/res/peter.jpg");
		  background-size: cover;
		}
		#n3 {
		  background-image: url("../../dist/res/matthew.jpg");
		  background-size: cover;
		}
		#n4 {
		  background-image: url("../../dist/res/ryan.jpg");
		  background-size: cover;
		}

		.circle {
			margin: 0 auto;
			margin-top: 40px;
			width: 250px;
			height: 250px;
			border-radius: 50%;
			box-shadow: @default-shadow;
			transition: 200ms all ease;
		}
	}


	
}

.card-container {
	width: 100%;
	text-align: center;
	flex-wrap: wrap;

	.card {
		margin: 60px;
		min-height: 200px;
		min-width: 280px;
		// display: inline-block;
		color: #a4a1a1;
		text-align: center;
		box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
		transition: all 300ms ease;
	}

	.card:hover {
		transform: perspective(500px) translateZ(30px);
		cursor: pointer;
	}

	div.big {
		width: 100%;
		min-height: 375px;
		border-radius: 2px;
		border-bottom-left-radius: 0;
		border-bottom-right-radius: 0;
		transition: all 200ms ease;
	}

	.card-image {
		width: 100%;
		background-size: cover;
		background-origin: center;
	}

	.team-link {
		margin-bottom: 30px;
		transition: all 300ms ease;
		cursor: pointer;
		color: @green;
	}

	.team-link:hover {
		transform: scale(1.08);
	}
	#n1 {
	  background-image: url("../../dist/res/daniel.jpg");
	}
	#n2 {
	  background-image: url("../../dist/res/peter.jpg");
	}
	#n3 {
	  background-image: url("../../dist/res/matthew.jpg");
	}
	#n4 {
	  background-image: url("../../dist/res/ryan.jpg");
	}
	#n5 {
	  background-image: url("../../dist/res/small business.jpg");
	}
	#n6 {
	  background-image: url("../../dist/res/big business.png");
	}
	#n7 {
	  background-image: url("../../dist/res/startup.jpg");
	}
	#n8 {
		background-image: url("../../dist/res/cubeworld.png");
	}
	#n9 {
		background-image: url("../../dist/res/dc.png");
		background-position: center;
		background-size: cover;
	}
	#n10 {
		background-image: url("../../dist/res/rad.png");
	}

	input, textarea {
		margin-top: 30px;
		margin-bottom: 30px;
		margin-left: 2%;
		margin-right: 2%;
		padding: 15px;
		padidng-left: 10px;
		width: 40%;
		min-height: 55px;
		font-size: 20px;
		border: none;
		border-radius: 2px;
		box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
	}

	input, textarea:active {
		outline: none;
	}

	textarea.big {
		margin-bottom: 60px;
		padding: 15px;
		width: 84%;
		min-height: 400px;
		font-size: 20px;
	}
}
div.card h2 {
  font-size: 30px;
  font-weight: 100;
} 

div.card p {
  font-size: 20px;
  margin-top: 15px;
  margin-bottom: 15px;
}

div.card-image {
  width: 100%;
  height: 60%;
  min-height: 300px;
  border-top-right-radius: 2px;
  border-top-left-radius: 2px;
}

div.card.row {
	text-align: center;
}


section.portfolio.button-light {
  background: #FFF;
  color: #000;
}

form {
	width: 50%;
	padding-top: 100px;
	padding-right: 10px;
	padding-right: 10px;
	box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}


section#contact-form {
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	display: flex;
	justify-content: center;
	align-items: center;
	visibility: hidden;
	opacity: 0;
	transition: 400ms all ease;
	z-index: 101;

	form {
		width: 25%;
		height: auto;
		z-index: 100;
		padding: 15px;
		border-radius: 1px;

		background: @white;
		box-shadow: 0 6px 20px 0 rgba(0, 0, 0, 0.19);


		#info {
			.full-width;
			text-align: center;
			margin-bottom: 20px;
		}
		button {
			margin-top: 0;
			margin-bottom: 10px;
		}

		.row {
			display: flex;
			flex-wrap: wrap;
			margin-bottom: 20px;

			.normal {
				padding-left: 10px;
				margin: 5px;
				font-family: 'Rubik';
				font-size: 14px;
				flex: 1;
				height: 40px;
				border: none;
				border: 1px solid #EEE;
				border-radius: 2px;
				margin-left: 10px;
				margin-right: 10px;
				transition: all 200ms ease;
			}

			.normal:focus {
				border: 1px solid @white;
				border-radius: 2px;
				box-shadow: 0 1px 8px 3px #4ce27466;

			}

			.normal.big {
				min-height: 150px;
				padding-top: 10px;
				font-size: 14px;
			}
		}
	}

}



div#blackout {
	position: fixed;
	left: 0;
	top: 0;
	.full-width;
	.full-height;
	z-index: 99;
	background: rgba(0,0,0,1);
	opacity: 0;
	visibility: hidden;
	transition: 200ms all ease;
}

div#profileBlackout {
	position: fixed;
	left: 0;
	top: 0;
	.full-width;
	.full-height;
	z-index: 103;
	background: rgba(0,0,0,1);
	opacity: 0;
	visibility: hidden;
	transition: 200ms all ease;
}