// colors
@white:          #FFFFFF;
@white-dark:     #E9E9E9;
@black:          #1a1a1f;
@black:          #181818;
@true-black:     #000;
@gray:           #515862;
@dark-gray:      #212121;
@gray-text:      #CACBCD;

@green:          #4ce274;
@red:            #fd6360;
@yellow:         #f1bf47;
@orange:         #ff7656;
@blue:           #3473df;
@qualm-blue:	 #5fbaed;

@ui-white:       #FFFFFE;
@glass: 0.6;

@ui-main:        @dark-gray;


// dimensions
@radius: 12px;
@margin: 42px;
@scrollbar: 17px;

@header: 55px;

// fonts

