// colors
@white:          #FFFFFF;
@black:          #1a1a1f;
@black:          #181818;
@gray:           #515862;
@dark-gray:      #212121;
@gray-text:      #CACBCD;

@green:          #4ce274;
@red:            #fd6360;
@yellow:         #f1bf47;
@orange:         #ff7656;
@blue:           #3540A5;

@ui-white:       #FFFFFE;
@glass: 0.6;

@ui-main:        @dark-gray;


// dimensions
@radius: 12px;
@margin: 42px;
@scrollbar: 17px;
